*{
  margin: 0px;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#container{
  width: 600px;
  height:300px;
  position: absolute;
  display: block;
}

.box-width{
  width: 550px;
  display: block;
}

.button-header{
  height: 30px;
  position: relative;
  padding: 5px;

}


.rotateNormal{
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  transform: rotate(0deg);
}

.rotateAnormal{
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}

p{
  margin: 8px 8px 0 8px;;
}


.div-content{
  position: relative;
  -webkit-transition: height .5s;
  -moz-transition:height .5s;
  overflow: hidden;
  font-size: 12px;
}

.borders{
  border: 1px solid black;
  border-radius: 5%;
  border-bottom: transparent;
}

.hideClass{
  height: 0px;
}
.expandClass{
  height: 100px;
}
